<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="de.hub.clickwatch.RecordContribution"
            objectClass="de.hub.clickwatch.recoder.cwdatabase.Record">
         <action
               class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.recorder.ui.actions.JumpToTime"
               id="de.hub.clickwatch.recorder.ui.JumpToTimeAction"
               label="Jump"
               menubarPath="clickwatch/record">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="de.hub.clickwatch.ui.AdditionalModules">
      <moduleProvider
            class="de.hub.clickwatch.recorder.ui.CWRecorderAdditionalModulesProvider">
      </moduleProvider>
   </extension>
</plugin>
