<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         id="ExtrapolateDataBase"
         name="ExtrapolateDataBase"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.hub.clickwatch.apps.examples.logvshbase.ExtrapolateDataBase">
         </run>
      </application>
   </extension>
   <extension
         id="LogFileGenerator"
         name="LogFileGenerator"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.hub.clickwatch.apps.examples.logvshbase.LogFileGenerator">
         </run>
      </application>
   </extension>
      <extension
         point="de.hub.clickwatch.apps.main.ClickWatchMain">
      <main
            class="de.hub.clickwatch.apps.examples.HwBusyAndPdrPlotAnalysis"
            enableFor="de.hub.clickwatch.model.Node"
            name="HwBusyAndPdrPlot">
         <InjectorProvider
               debug="true"
               specific_models="true">
         </InjectorProvider>
      </main>
      <main
            class="de.hub.clickwatch.apps.examples.HwBusyPlotAnalysis"
            enableFor="de.hub.clickwatch.model.Node"
            name="HwBusy">
         <InjectorProvider
               debug="true"
               specific_models="true">
         </InjectorProvider>
      </main>
      <main
            class="de.hub.clickwatch.apps.examples.PdrPlotAnalysis"
            enableFor="de.hub.clickwatch.model.Node"
            name="PDR">
         <InjectorProvider
               debug="true"
               specific_models="true">
         </InjectorProvider>
      </main>
      <main
            class="de.hub.clickwatch.apps.examples.SeismoCloudExport"
            enableFor="de.hub.clickwatch.model.Node"
            name="SeismoCloudExport">
         <InjectorProvider
               debug="true"
               specific_models="true">
         </InjectorProvider>
      </main>
      <main
            class="de.hub.clickwatch.apps.examples.SeismoMatlabExport"
            enableFor="de.hub.clickwatch.model.Node"
            name="SeismoMatlabExport">
         <InjectorProvider
               debug="true"
               specific_models="true">
         </InjectorProvider>
      </main>
      <main
            class="de.hub.clickwatch.apps.examples.TopologyAnalysis"
            enableFor="de.hub.clickwatch.model.Network"
            name="Topology">
         <InjectorProvider
               debug="true"
               specific_models="false"
               xml_values="true">
         </InjectorProvider>
      </main>
   </extension>
</plugin>
