<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         id="ExtrapolateDataBase"
         name="ExtrapolateDataBase"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.hub.clickwatch.apps.examples.logvshbase.ExtrapolateDataBase">
         </run>
      </application>
   </extension>
   <extension
         id="LogFileGenerator"
         name="LogFileGenerator"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.hub.clickwatch.apps.examples.logvshbase.LogFileGenerator">
         </run>
      </application>
   </extension>
</plugin>
