<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.hub.clickwatch.apps.main.ClickWatchMain" name="ClickWatch Main" schema="schema/de.hub.clickwatch.apps.main.ClickWatchMain.exsd"/>
   <extension-point id="de.hub.clickwatch.apps.main.ClickWatchContextAdapter" name="ClickWatch Context Adapter" schema="schema/de.hub.clickwatch.apps.main.ClickWatchContextAdapter.exsd"/>
   <extension
         id="ClickWatch"
         name="ClickWatch"
         point="org.eclipse.core.runtime.products">
      <product
            application="ClickWatch"
            name="ClickWatch">
         <property
               name="appName"
               value="ClickWatch">
         </property>
      </product>
   </extension>
   <extension
         point="de.hub.clickwatch.apps.main.ClickWatchContextAdapter">
      <ContextAdapter
            class="de.hub.clickwatch.main.impl.InjectorProvider"
            id="de.hub.clickwatch.apps.main.InjectorProvider">
      </ContextAdapter>
      <ContextAdapter
            class="de.hub.clickwatch.main.impl.ResultsProvider"
            id="de.hub.clickwatch.apps.main.ResultsProvider">
      </ContextAdapter>
      <ContextAdapter
            class="de.hub.clickwatch.main.impl.ArgumentsProvider"
            id="de.hub.clickwatch.apps.main.ArgumentsProvider">
      </ContextAdapter>
      <ContextAdapter
            class="de.hub.clickwatch.main.impl.ExperimentProvider"
            id="de.hub.clickwatch.apps.main.ExperimentProvider">
      </ContextAdapter>
      <ContextAdapter
            class="de.hub.clickwatch.main.impl.ProgressMonitorProvider"
            id="de.hub.clickwatch.apps.main.ProgressMonitorProvider">
      </ContextAdapter>
      <ContextAdapter
            class="de.hub.clickwatch.main.impl.ClickWatchModelProvider"
            id="de.hub.clickwatch.apps.main.ClickWatchModelProvider">
      </ContextAdapter>
   </extension>

</plugin>
