<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.hub.clickwatch.apps.main.ClickWatchMain" name="ClickWatch Main" schema="schema/de.hub.clickwatch.apps.main.ClickWatchMain.exsd"/>
   <extension
         id="ClickWatch"
         name="ClickWatch"
         point="org.eclipse.core.runtime.products">
      <product
            application="ClickWatch"
            name="ClickWatch">
         <property
               name="appName"
               value="ClickWatch">
         </property>
      </product>
   </extension>

</plugin>
