<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.hub.clickwatch.ui.AdditionalModules" name="Additional Modules" schema="schema/de.hub.clickwatch.ui.AdditionalModules.exsd"/>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="de.hub.clickwatch.NodeContribution"
            objectClass="de.hub.clickwatch.model.Node">
         <action
               class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.ui.modelactions.Reboot"
               enablesFor="+"
               id="edu.hu.clickwatch.rebootAction"
               label="Reboot"
               menubarPath="clickwatch/deploy">
         </action>
         <action
               class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.ui.modelactions.HotDeploy"
               enablesFor="+"
               id="edu.hu.clickwatch.hotDeployAction"
               label="HotDeploy"
               menubarPath="clickwatch/deploy">
         </action>
         <action
               class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.ui.modelactions.Execute"
               enablesFor="+"
               id="edu.hu.clickwatch.execAction"
               label="Execute"
               menubarPath="clickwatch/deploy">
         </action>
         <action
               class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.ui.modelactions.FullDeploy"
               enablesFor="+"
               id="edu.hu.clickwatch.deployAction"
               label="Deploy"
               menubarPath="clickwatch/deploy">
         </action>
         <action
               class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.ui.modelactions.Configure"
               enablesFor="+"
               id="edu.hu.clickwatch.configAction"
               label="Configure"
               menubarPath="clickwatch/deploy">
         </action>
         <action
               class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.ui.modelactions.StartRecord"
               enablesFor="+"
               id="edu.hu.clickwatch.startRecordAction"
               label="Start record"
               menubarPath="clickwatch/record">
         </action>
         <action
               class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.ui.modelactions.StopRecord"
               enablesFor="+"
               id="edu.hu.clickwatch.stopRecordAction"
               label="Stop record"
               menubarPath="clickwatch/record">
         </action>
         <action
               class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.ui.modelactions.ClearRecord"
               enablesFor="+"
               id="edu.hu.clickwatch.clearRecordAction"
               label="Clear record"
               menubarPath="clickwatch/record">
         </action>
         <action
               class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.ui.modelactions.Connect"
               enablesFor="+"
               id="de.hub.clickwatch.connectAction"
               label="Connect"
               menubarPath="clickwatch/basic">
         </action>
         <action
               class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.ui.modelactions.Disconnect"
               enablesFor="+"
               id="edu.hu.clickwatch.disconnectAction"
               label="Disconnect"
               menubarPath="clickwatch/basic">
         </action>
      </objectContribution>
      <objectContribution
            id="edu.hu.clickwatch.NetworkContribution"
            objectClass="de.hub.clickwatch.model.Network">
         <action
               class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.ui.modelactions.Reset"
               enablesFor="1"
               id="edu.hu.clickwatch.resetAction"
               label="Reset"
               menubarPath="clickwatch/record">
         </action>
         <action
               class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.ui.modelactions.Import"
               enablesFor="1"
               id="edu.hu.clickwatch.importAction"
               label="Import"
               menubarPath="clickwatch/basic">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="edu.hu.clickwatch.ResourceContribution"
            objectClass="org.eclipse.emf.ecore.resource.Resource">
         <action
               class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.ui.modelactions.ShowXml"
               enablesFor="1"
               id="edu.hu.clickwatch.showXmlAction"
               label="Show XML"
               menubarPath="clickwatch/basic">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="edu.hu.clickwatch.EObjectContribution"
            objectClass="org.eclipse.emf.ecore.EObject">
         <action
               class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.ui.modelactions.CopyXPath"
               enablesFor="1"
               id="edu.hu.clickwatch.copyXPathAction"
               label="Copy XPath expression to clip board"
               menubarPath="clickwatch/basic">
         </action>
      </objectContribution>
   </extension>
   
      <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="ClickWatch"
            visible="true"
            id="de.hub.clickwatch.ui.ClickWatchActionSet">
         <action
               label="XSL"
               class="de.hub.clickwatch.ui.actions.NewXslAction"
               menubarPath="file/new/additions"
               id="de.hub.clickwatch.ui.NewXslAction"/>
      </actionSet>
   </extension>
    <extension point="org.eclipse.ui.views">
      <category
            id="edu.hu.clickwatch.viewCategory"
            name="ClickWatch">
      </category>
            <view
            category="edu.hu.clickwatch.viewCategory"
            class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.ui.views.ResultView"
            icon="/icons/sample.gif"
            id="edu.hu.clickwatch.ResultView"
            name="Results"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.hub.clickwatch.preferences.ClickWatchPreferences"
            id="edu.hu.clickwatch.preferences.ClickWatchPreferences"
            name="ClickWatch Preferences">
      </page>
   </extension>
   <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.eclipse.wst.sse.ui.StructuredTextEditor.EditorContext?before=additions">
        <command
              commandId="de.hub.clickwatch.ui.PerformXsl"
              icon="icons/logo_16.gif"
              id="performXSL"
              label="perform XSL"
              style="push"
              tooltip="performs the XSL on one of the opened ClickWatch models">
        </command>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.ui.popup.any?before=additions">
        <menu
              icon="icons/logo_16.gif"
              id="clickwatch"
              label="ClickWatch">
           <separator
                 name="basic"
                 visible="false">
           </separator>
           <separator
                 name="deploy"
                 visible="true">
           </separator>
           <separator
                 name="record"
                 visible="true">
           </separator>
           <separator
                 name="analysis"
                 visible="true">
           </separator>
        </menu>
     </menuContribution>
  </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.hub.clickwatch.ui.PerformXsl"
            name="name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.ui.actions.PerformXslTransformation"
            commandId="de.hub.clickwatch.ui.PerformXsl">
      </handler>
   </extension>
   <extension
         point="de.hub.clickwatch.ui.AdditionalModules">
      <moduleProvider
            class="de.hub.clickwatch.ui.MergeModuleProvider">
      </moduleProvider>
   </extension>
</plugin>
