<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="PerformanceExperiment"
         name="PerformanceExperiment"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.hub.clickwatch.apps.performance.compoundhandler.PerformanceExperiment">
         </run>
      </application>
   </extension>

</plugin>
