<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://de.hub.clickwatch/cwdatabase"
            class="de.hub.clickwatch.recorder.database.cwdatabase.CWDataBasePackage"
            genModel="src/de/hub/clickwatch/recorder/database/CWDataBase.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="cwdatabase"
            class="de.hub.clickwatch.recorder.database.cwdatabase.util.CWDataBaseResourceFactoryImpl"/>
   </extension>

</plugin>
