<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ClickWatchRecorder"
         name="ClickWatchRecorder"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.hub.clickwatch.recorder.ClickWatchRecorder">
         </run>
      </application>
   </extension>
   <extension
         id="ClickWatchRecorder"
         name="ClickWatchRecorder"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.hub.clickwatch.recorder.ClickWatchRecorder"
            name="ClickWatchRecorder">
         <property
               name="appName"
               value="ClickWatchRecorder">
         </property>
      </product>
   </extension>
   <extension
         id="RecorderOne"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.hub.clickwatch.recorder.Recorder"
            name="ClickWatchRecorder">
      </product>
   </extension>
</plugin>
