<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
       point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
          delegate="de.hub.clickwatch.transformationLauncher.TransformationLaunchConfigurationDelegate"
          id="de.hub.clickwatch.analysis.ui.TransformationLaunchConfiguration"
          modes="run"
          name="ClickWatchMain">
    </launchConfigurationType>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="de.hub.clickwatch.analysis.ui.TransformationLaunchConfiguration"
          icon="icons/Analysis.gif"
          id="de.hub.clickwatch.analysis.ui.TransformationLaunchConfigurationTypeImage">
    </launchConfigurationTypeImage>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
          class="de.hub.clickwatch.transformationLauncher.TransformationTabGroup"
          id="de.hub.clickwatch.analysis.ui.TransformationTabGroup"
          type="de.hub.clickwatch.analysis.ui.TransformationLaunchConfiguration">
    </launchConfigurationTabGroup>
 </extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="de.hub.clickwatch.transformationLauncher.propertyTester.HasTransformationMain"
          id="de.hub.clickwatch.apps.transformationLauncher.ITransformationMainTester"
          namespace="de.hub.clickwatch.apps.transformationLauncher"
          properties="hasTransformationMain"
          type="java.lang.Object">
    </propertyTester>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
          class="de.hub.clickwatch.transformationLauncher.TransformationLaunchShortcut"
          icon="icons/Analysis.gif"
          id="de.hub.clickwatch.apps.transformationLauncher.TransformationShortcut"
          label="ClickWatchMain"
          modes="run, debug" 
          description="Launches a transformation">
          <contextualLaunch>
	         <enablement>
	           <with variable="selection">
	             <count value="1"/>
	              <iterate
                     operator="and">
                 <test
                       forcePluginActivation="true"
                       property="de.hub.clickwatch.apps.transformationLauncher.hasTransformationMain">
                 </test>
	              </iterate>
	             </with>
	         </enablement>
 		</contextualLaunch>
       	<configurationType
              id="org.eclipse.jdt.launching.localJavaApplication">
       	</configurationType>
        <description
                description="Runs a transformation"
                mode="run">
        </description>
    </shortcut>
 </extension>
</plugin>

