<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="edu.hu.clickwatch.NodeContribution"
            objectClass="edu.hu.clickwatch.model.Node">
         <action
               class="edu.hu.clickwatch.GuiceAwareExecutableExtensionFactory:edu.hu.clickwatch.actions.Reboot"
               enablesFor="+"
               id="edu.hu.clickwatch.rebootAction"
               label="Reboot"
               menubarPath="additions">
         </action>
         <action
               class="edu.hu.clickwatch.GuiceAwareExecutableExtensionFactory:edu.hu.clickwatch.actions.HotDeploy"
               enablesFor="+"
               id="edu.hu.clickwatch.hotDeployAction"
               label="HotDeploy"
               menubarPath="additions">
         </action>
         <action
               class="edu.hu.clickwatch.GuiceAwareExecutableExtensionFactory:edu.hu.clickwatch.actions.Execute"
               enablesFor="+"
               id="edu.hu.clickwatch.execAction"
               label="Execute"
               menubarPath="additions">
         </action>
         <action
               class="edu.hu.clickwatch.GuiceAwareExecutableExtensionFactory:edu.hu.clickwatch.actions.Disconnect"
               enablesFor="+"
               id="edu.hu.clickwatch.disconnectAction"
               label="Disconnect"
               menubarPath="additions">
         </action>
         <action
               class="edu.hu.clickwatch.GuiceAwareExecutableExtensionFactory:edu.hu.clickwatch.actions.FullDeploy"
               enablesFor="+"
               id="edu.hu.clickwatch.deployAction"
               label="Deploy"
               menubarPath="additions">
         </action>
         <action
               class="edu.hu.clickwatch.GuiceAwareExecutableExtensionFactory:edu.hu.clickwatch.actions.Connect"
               enablesFor="+"
               id="edu.hu.clickwatch.connectAction"
               label="Connect"
               menubarPath="additions">
         </action>
         <action
               class="edu.hu.clickwatch.GuiceAwareExecutableExtensionFactory:edu.hu.clickwatch.actions.Configure"
               enablesFor="+"
               id="edu.hu.clickwatch.configAction"
               label="Configure"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="edu.hu.clickwatch.NetworkContribution"
            objectClass="edu.hu.clickwatch.model.Network">
         <action
               class="edu.hu.clickwatch.GuiceAwareExecutableExtensionFactory:edu.hu.clickwatch.actions.Reset"
               enablesFor="1"
               id="edu.hu.clickwatch.resetAction"
               label="Reset"
               menubarPath="additions">
         </action>
         <action
               class="edu.hu.clickwatch.GuiceAwareExecutableExtensionFactory:edu.hu.clickwatch.actions.Import"
               enablesFor="1"
               id="edu.hu.clickwatch.importAction"
               label="Import"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="ClickWatch"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.hu.clickwatch.model.editor.NewEditorAdvisorApplication"
            name="ClickWatch">
         <property
               name="appName"
               value="ClickWatch">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="420,65,300,20">
         </property>
         <property
               name="startupProgressRect"
               value="0,85,900,15">
         </property>
      </product>
   </extension>
   
   <extension point="org.eclipse.ui.views">
      <category
            id="edu.hu.clickwatch.viewCategory"
            name="ClickWatch">
      </category>
      <view
            category="edu.hu.clickwatch.viewCategory"
            class="edu.hu.clickwatch.GuiceAwareExecutableExtensionFactory:edu.hu.clickwatch.views.XSLView"
            icon="/icons/sample.gif"
            id="edu.hu.clickwatch.XSLView"
            name="XSLT"
            restorable="true">
      </view>
            <view
            category="edu.hu.clickwatch.viewCategory"
            class="edu.hu.clickwatch.GuiceAwareExecutableExtensionFactory:edu.hu.clickwatch.views.ResultView"
            icon="/icons/sample.gif"
            id="edu.hu.clickwatch.ResultView"
            name="Results"
            restorable="true">
      </view>
   </extension>

</plugin>
