<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="edu.hu.clickwatch.contribution1"
            objectClass="edu.hu.clickwatch.model.Node">
         <menu
               id="edu.hu.clickwatch.menu1"
               label="Clickwatch"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="edu.hu.clickwatch.popup.actions.Connect"
               enablesFor="+"
               id="edu.hu.clickwatch.connectAction"
               label="Connect"
               menubarPath="edu.hu.clickwatch.menu1/group1">
         </action>
         <action
               class="edu.hu.clickwatch.popup.actions.Disconnect"
               enablesFor="+"
               id="edu.hu.clickwatch.disconnectAction"
               label="Disconnect"
               menubarPath="edu.hu.clickwatch.menu1/group1">
         </action>
      </objectContribution>
      <objectContribution
            id="edu.hu.clickwatch.contribution2"
            objectClass="edu.hu.clickwatch.model.Network">
         <action
               class="edu.hu.clickwatch.popup.actions.Reset"
               enablesFor="1"
               id="edu.hu.clickwatch.resetAction"
               label="Reset"
               menubarPath="edu.hu.clickwatch.menu1/group1">
         </action>
         <menu
               id="edu.hu.clickwatch.menu1"
               label="Clickwatch"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="edu.hu.clickwatch.popup.actions.Import"
               enablesFor="1"
               id="edu.hu.clickwatch.importAction"
               label="Import"
               menubarPath="edu.hu.clickwatch.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
