<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="edu.hu.clickwatch.examples.linkdis.ldp"
            class="edu.hu.clickwatch.examples.linkdist.ldp.LinkDistPlot.LinkDistPlotPackage"
            genModel="src/edu/hu/clickwatch/examples/linkdist/LinkDistPlot.genmodel"/>
   </extension>

</plugin>
