<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="de.hub.clickwatch.recoder.cwdatabase.presentation.CWDataBaseModelWizardID"
            name="ClickWatch data base"
            class="de.hub.clickwatch.recoder.cwdatabase.presentation.CWDataBaseModelWizard"
            category="edu.hu.clickwatch.analysis.WizardCategory"
            icon="icons/full/obj16/CWDataBaseModelFile.gif">
         <description>%_UI_CWDataBaseModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.hub.clickwatch.recoder.cwdatabase.presentation.CWDataBaseEditorID"
            name="%_UI_CWDataBaseEditor_label"
            icon="icons/full/obj16/CWDataBaseModelFile.gif"
            extensions="cwdatabase"
            class="de.hub.clickwatch.recoder.cwdatabase.presentation.CWDataBaseEditor"
            contributorClass="de.hub.clickwatch.recoder.cwdatabase.presentation.CWDataBaseActionBarContributor">
      </editor>
   </extension>

</plugin>
