<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.hub.clickwatch.apps.main.ClickWatchMain">
      <main
            class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.recorder.examples.HwBusyPlotAnalysis"
            name="HwBusyAnalysis">
         <InjectorProvider
               debug="true"
               specific_models="true"
               xml_values="true">
         </InjectorProvider>
      </main>
      <main
            class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.recorder.examples.PdrPlotAnalysis"
            name="PDRAnalysis">
         <InjectorProvider
               debug="true"
               specific_models="true"
               xml_values="true">
         </InjectorProvider>
      </main>
      <main
            class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.recorder.examples.SimpleSeismoPlotAnalysis"
            name="SeismoAnalysis">
         <InjectorProvider
               debug="true"
               specific_models="true"
               xml_values="true">
         </InjectorProvider>
      </main>
      <main
            class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.recorder.examples.ui.RuntimeHwBusyAnalysis"
            name="RuntimeHwBusyAnalysis">
         <InjectorProvider
               debug="true"
               specific_models="true"
               xml_values="true">
         </InjectorProvider>
      </main>
      <main
            class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.recorder.examples.ui.RuntimeSeismoAnalysis"
            name="RuntimeSeismoAnalysis">
         <InjectorProvider
               debug="true"
               specific_models="true"
               xml_values="true">
         </InjectorProvider>
      </main>
      <main
            class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.recorder.examples.ComplexSeismoPlotAnalysis"
            name="ComplexSeismoAnalysis">
         <InjectorProvider
               debug="true"
               specific_models="true"
               xml_values="true">
         </InjectorProvider>
      </main>
      <main
            class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.recorder.examples.TestAnalysis"
            name="TestAnalysis">
         <InjectorProvider
               debug="true"
               specific_models="true"
               xml_values="true">
         </InjectorProvider>
      </main>
      <main
            class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.recorder.examples.SeismoBusAnalysis"
            name="SeismoBusAnalysis">
         <InjectorProvider
               debug="true"
               specific_models="true"
               xml_values="true">
         </InjectorProvider>
      </main>
      <main
            class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.recorder.examples.ui.RuntimeSeismoBusAnalysis"
            name="RuntimeSeismoBusAnalysis">
         <InjectorProvider
               debug="true"
               specific_models="true"
               xml_values="true">
         </InjectorProvider>
      </main>
   </extension>

</plugin>
