<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="TraceableTracer"
         name="TraceableTracerClass"
         point="de.digitalforger.smtl.tracer">
      <client
            class="de.digitalforger.smtl.traceabletracer.AnalysisTracer">
      </client>
   </extension>

</plugin>
