<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="edu.hu.clickwatch.examples.linkdis.ldp"
            class="de.hub.clickwatch.examples.linkdist.ldp.LinkDistPlotPackage"
            genModel="src/de/hub/clickwatch/examples/linkdist/LinkDistPlot.genmodel"/>
   </extension>
   <extension
         point="edu.hu.clickwatch.analysis.AutoAnalysis">
      <analysis
            class="de.hub.clickwatch.examples.lifd.LocalInterfererDetection"
            interval="10000"
            name="Local Interferer Detection">
      </analysis>
   </extension>

</plugin>
