<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.hub.clickwatch.apps.main.ClickWatchMain">
      <main
            class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.recorder.examples.HwBusyPlotAnalysis"
            name="HwBusyAnalysis">
         <InjectorProvider
               debug="true"
               specific_models="true"
               xml_values="true">
         </InjectorProvider>
      </main>
      <main
            class="de.hub.clickwatch.ui.GuiceAwareExecutableExtensionFactory:de.hub.clickwatch.recorder.examples.PdrPlotAnalysis"
            name="PDRAnalysis">
      </main>
   </extension>
   <extension
         id="ExtrapolateDataBase"
         name="ExtrapolateDataBase"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.hub.clickwatch.recorder.examples.logvshbase.ExtrapolateDataBase">
         </run>
      </application>
   </extension>
   <extension
         id="LogFileGenerator"
         name="LogFileGenerator"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.hub.clickwatch.recorder.examples.logvshbase.LogFileGenerator">
         </run>
      </application>
   </extension>

</plugin>
