<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="platform:/resource/edu.hu.clickwatch.xml2/src/main/resources/configuration.xsd"
            class="de.hub.clickwatch.xml.ConfigurationPackage"
            genModel="src/main/resources/configuration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="configuration"
            class="de.hub.clickwatch.xml.util.ConfigurationResourceFactoryImpl"/>
   </extension>

</plugin>
