<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="file:/vol/home-vol1/simulant/frey/Desktop/configuration.xsd"
            class="de.hub.clickwatch.xml.configuration.ConfigurationPackage"
            genModel="model/de.hub.clickwatch.xml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="configuration"
            class="de.hub.clickwatch.xml.configuration.util.ConfigurationResourceFactoryImpl"/>
   </extension>

</plugin>
